.geolocation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.geolocation-list li {
    padding: 1em;
    margin: 0.5em 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.geolocation-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}