.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}